<ion-header>
  <ion-toolbar>
    <ion-img src="assets/icon/logo.png" style="width: 4vw; height: 4vw; margin-top: 1%; margin-left: 1%; float: left;"></ion-img>

    <ion-item style="float: left; margin-left: 3%; margin-top: 1.1%; width: 25vw; height: 4vw; border-radius: 10px;">
      <ion-label position="floating">Recherche d'un Client</ion-label>
      <ion-input></ion-input>
      <ion-icon style="margin-top: 4%; width: 2vw; height: 2vw;" name="search" slot="end"></ion-icon>
    </ion-item>

    <ion-button href="/" style="float: right; height: 2vw; width: 10vw; margin-right: 2%; margin-top: 1.8%; font: normal bold 0.8vw Arial, Verdana, Helvetica;" color="danger">
      LOG-OUT
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>

    <h3>{{prenomC}}.{{(nomC)?.substring(0,1)}}</h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="z-index: 100; position: fixed; top: 0; margin-top: 6%; width: 100%;">
    <ul>
      <li><a href="/tableau-de-bord">Tableau de bord<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="clipboard-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li class="dropdown">
        <a class="dropbtn">Stock<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/stocks">Liste des stocks</a>
          <a href="/stock-ajouter">Ajout stock</a>
          <a href="/quantite-ajouter">Ajout quantité</a>
        </div>
      </li>
      <li class="dropdown" style="overflow: hidden;">
        <a class="dropbtn">Vente<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="pricetag-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/vente-v">Liste des ventes</a>
          <a href="/vente-v-ajouter">Ajouter une vente</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Réparations<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/vente-pec">Liste des réparations</a>
          <a href="/vente-pec-ajouter">Ajouter une réparation</a>
        </div>
      </li>
      <li><a href="/sav">SAV<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="construct-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="/factures">Facture<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="newspaper-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li class="dropdown">
        <a class="dropbtn">Demande<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/demandes">Liste des demandes</a>
          <a href="/demande-ajouter">Ajouter une demande</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Client<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/clients">Liste des clients</a>
          <a href="/client-ajouter">Ajouter un client</a>
        </div>
      </li>
      <li><a href="/chiffre-affaire">Chiffre d'affaire<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="cash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li class="dropdown">
        <a class="dropbtn" style="border-bottom: 4px solid red;">Compte<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/comptes">Liste des comptes</a>
          <a href="/compte-ajouter">Ajouter un compte</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="parentDisposition" style="z-index: 50; margin-top: 4%;">
    <div class="div1Disposition">
      <ion-button style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear" href="/compte-ajouter"><strong>Ajout compte&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button>
    </div>

    <div class="div2Disposition" id="caseDisposition">
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
        <div class="parentFiltre">
          <div class="div1Filtre">
            <ion-input formControlName="nomprenom" label="Nom / Prenom" label-placement="floating" fill="outline"></ion-input>
          </div>
          <div class="div2Filtre"> 
            <select formControlName="magasin" style="height: 100%; width: 100%; font-size: 1vw;" id="selectMagasin">
              <option value="">Magasin</option>
            </select>
          </div>
          <div class="div4Filtre">
            <select formControlName="habilitation" style="height: 100%; width: 100%; font-size: 1vw;" id="selectHabilitation">
              <option value="">Habilitation</option>
            </select>
          </div>
          <div class="div5Filtre"> 
            <ion-button type="submit" expand="block" fill="outline" color="light" style="height: 80%; width: 60%; margin-left: auto; margin-right: auto;">Rechercher&nbsp;<ion-icon style="margin-top: -2px;" name="search"></ion-icon></ion-button>
          </div>
        </div>
      </form>
    </div>

    <div class="div3Disposition" id="caseDisposition">
      <div style="width: 94%; margin-left: auto; margin-right: auto; margin-top: 2vw; margin-bottom: 2vw;">
        <thead>
          <tr>
            <th>Nom - Prenom</th>
            <th>Magasin</th>
            <th>Identifiant</th>
            <th>Mot de passe</th>
            <th>Habilitation</th>
            <th>Actions</th>
          </tr>
        </thead>
  
        <tbody>
          <ng-container *ngFor="let c of allComptes;">
            <tr>
              <td>{{c.nomCompte}} - {{c.prenomCompte}}</td>
              <ng-container *ngFor="let m of allMagasins;">
                <td *ngIf="c.magasin == m.idMagasin">{{m.villeMagasin}}</td>
              </ng-container>
              <td>{{c.identifiantCompte}}</td>
              <td>{{c.motDePasseCompte}}</td>
              <ng-container *ngFor="let h of allHabilitations;">
                <td *ngIf="c.niveauHabilitationCompte == h.idHabilitation">{{h.libelleHabilitation}}</td>
              </ng-container>
              <td>
                <ion-button color="dark" (click)="goCompteModifier(c.idCompte)" href="/compte-modifier"><ion-icon name="pencil"></ion-icon></ion-button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-button color="danger" (click)="presentAlertDelete(c.idCompte)"><ion-icon name="trash-outline"></ion-icon></ion-button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </div>
    </div>
  </div>

</ion-content>