<ion-header>
  <ion-toolbar>
    <ion-img src="assets/icon/logo.png" style="width: 4vw; height: 4vw; margin-top: 1%; margin-left: 1%; float: left;"></ion-img>

    <ion-item style="float: left; margin-left: 3%; margin-top: 1.1%; width: 25vw; height: 4vw; border-radius: 10px;">
      <ion-label position="floating">Recherche d'un Client</ion-label>
      <ion-input></ion-input>
      <ion-icon style="margin-top: 4%; width: 2vw; height: 2vw;" name="search" slot="end"></ion-icon>
    </ion-item>

    <ion-button href="/" style="float: right; height: 2vw; width: 10vw; margin-right: 2%; margin-top: 1.8%; font: normal bold 0.8vw Arial, Verdana, Helvetica;" color="danger">
      LOG-OUT
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>

    <h3>{{prenomC}}.{{(nomC)?.substring(0,1)}}</h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="z-index: 100; position: fixed; top: 0; margin-top: 6%; width: 100%;">
    <ul>
      <li><a href="/tableau-de-bord">Tableau de bord<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="clipboard-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li class="dropdown">
        <a class="dropbtn">Stock<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/stocks">Liste des stocks</a>
          <a href="/stock-ajouter">Ajout stock</a>
          <a href="/quantite-ajouter">Ajout quantité</a>
        </div>
      </li>
      <li class="dropdown" style="overflow: hidden;">
        <a class="dropbtn">Vente<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="pricetag-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/vente-v">Liste des ventes</a>
          <a href="/vente-v-ajouter">Ajouter une vente</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Réparations<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/vente-pec">Liste des réparations</a>
          <a href="/vente-pec-ajouter">Ajouter une réparation</a>
        </div>
      </li>
      <li><a href="/sav">SAV<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="construct-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="/factures">Facture<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="newspaper-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li class="dropdown">
        <a class="dropbtn">Demande<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/demandes">Liste des demandes</a>
          <a href="/demande-ajouter">Ajouter une demande</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Client<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/clients">Liste des clients</a>
          <a href="/client-ajouter">Ajouter un client</a>
        </div>
      </li>
      <li><a href="/chiffre-affaire" style="border-bottom: 4px solid red;">Chiffre d'affaire<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="cash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li class="dropdown">
        <a class="dropbtn">Compte<ion-icon style="position: absolute; margin-left: 4px; margin-top: -2px; width: 1vw; height: 1vw;" name="build-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <div class="dropdown-content">
          <a href="/comptes">Liste des comptes</a>
          <a href="/compte-ajouter">Ajouter un compte</a>
        </div>
      </li>
    </ul>
  </div>

  <div id="export" hidden>
    <h1 style="margin-top: 1.3vw; color: black;">Exportation des données</h1>
    <ion-list [inset]="true">
      <ion-item>
        <select [(ngModel)]="magasin" style="height: 100%; width: 100%;">
          <option value="">Magasin</option>
          <option *ngFor="let m of allMagasins" value="{{m.idMagasin}}">{{m.villeMagasin}}</option>
        </select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="joursInput" style="color: black;" label="Jours : "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="moisInput" style="color: black;" label="Mois : "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="anneeInput" style="color: black;" label="Annee :"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="export();" expand="block" style="color: rgb(0, 0, 0); height: 5%; width: 80%; margin-left: auto; margin-right: auto;" color="light" fill="outline" ><strong>Retour&nbsp;</strong></ion-button>
    <ion-button (click)="exportData();" expand="block" style="color: rgb(0, 0, 0); height: 5%; width: 80%; margin-left: auto; margin-right: auto;" color="light" fill="outline" ><strong>Exporter&nbsp;</strong></ion-button>
  </div>

  <div class="parentDisposition" style="z-index: 50; margin-top: 4%;">
    <div class="div1Disposition">
      <ion-button (click)="chiffreJour()" style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear"><strong>Chiffre du jours&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button>
      <!-- <ion-button (click)="chiffreSemaine()" style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear"><strong>Chiffre de la semaine&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button> -->
      <ion-button (click)="chiffreMois()" style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear"><strong>Chiffre du mois&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button>
      <ion-button (click)="chiffreAnnee()" style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear"><strong>Chiffre de l'année&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button>
      <ion-button (click)="export()" style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear"><strong>Exporter les valeurs&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button>
      <ion-button (click)="exportDataExel()" style="margin-right: 2vw; color: rgb(0, 0, 0);" fill="clear"><strong>Exporter les valeurs (Comptable)&nbsp;</strong><ion-icon style="margin-top: -2px;" name="add-circle-outline"></ion-icon></ion-button>
    </div>

    <div class="div3Disposition" id="caseDisposition">
      <div style="width: 94%; height: 26vw; margin-left: auto; margin-right: auto; margin-bottom: 2vw;">
        <div id="chiffreJour">
          <div style="height: 1vw; width: 100%; margin:auto; text-align:center;">
            <ion-card *ngFor="let m of allMagasins; index as i" style="width: 22vw; display:inline-block; margin-top: 1.5vw;" color="dark">
              <ion-card-header>
                <ion-card-title style="font-size: 2vw;">{{m.villeMagasin}}</ion-card-title>
                <ion-button (click)="ZCaisse(m.idMagasin)" style="color: rgb(0, 0, 0); width: 60%; margin: auto; z-index: 100;" color="dark"><strong>Z de caisse&nbsp;</strong></ion-button>
              </ion-card-header>
              <ion-card-content style="z-index: 50;">
                <ion-list lines="full" style="background-color: rgba(0, 0, 0, 0); margin-top: -2.4vw;">
                  <ion-item>
                  </ion-item>
                  <ion-item>
                    <ion-thumbnail slot="start">
                      <ion-icon name="pricetags-outline" style="height: 3.8vw; width: 2.5vw; margin-left: 0.8vw;"></ion-icon>
                    </ion-thumbnail>
                    <ion-label style="font-size: 0.85vw;">CA des ventes : {{chiffreV[m.idMagasin - 1]}}€</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-thumbnail slot="start">
                      <ion-icon name="build-outline" style="height: 3.8vw; width: 2.5vw; margin-left: 0.8vw;"></ion-icon>
                    </ion-thumbnail>
                    <ion-label style="font-size: 0.85vw;">CA des réparations : {{chiffrePEC[m.idMagasin - 1]}}€</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-thumbnail slot="start">
                      <ion-icon name="cash-outline" style="height: 3.8vw; width: 2.5vw; margin-left: 0.8vw;"></ion-icon>
                    </ion-thumbnail>
                    <ion-label style="font-size: 0.85vw;">Total : {{chiffreTotal[m.idMagasin - 1]}}€</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <!-- <div id="chiffreSemaine">
          <canvas style="margin-left: 0%; margin-top: 1%; position: absolute; height: 400px; width: 1320px;" id="canvasSemaine" baseChart
            [data]="chartSemaine"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
          </canvas>
        </div> -->

        <div id="chiffreMois">
          <canvas style="margin-left: 0%; margin-top: 1%; position: absolute; height: 400px; width: 1320px;" id="canvasMois" baseChart
            [data]="chartMois"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
          </canvas>
        </div>

        <div id="chiffreAnnee">
          <canvas style="margin-left: 0%; margin-top: 1%; position: absolute; height: 400px; width: 1320px;" id="canvasAnnee" baseChart
            [data]="chartAnnee"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</ion-content>
